<header>
    <div class="header-container">
        <div class="logo">
            <a href="index.html"><img src="/logo.svg" alt="Logo RellTrack"></a>
        </div>
        <nav class="link-list">
            <a *ngIf="!esAdmin" routerLinkActive="active" [routerLink]="['/dashboard/welcome']" class="link-item active">Mi Catálogo</a>
            <a routerLinkActive="active" [routerLink]="['/dashboard/series']" class="link-item">Series</a>
            <a routerLinkActive="active" [routerLink]="['/dashboard/pelis']" class="link-item">Peliculas</a>
            <a routerLinkActive="active" [routerLink]="['/dashboard/animes']" class="link-item">Animes</a>
            <a *ngIf="esAdmin" (click)="abrirAdministracion()" class="link-item">Administración</a>
        </nav>
        <div class="user-info">
            <button (click)="logout()">Log out</button>
        </div>
    </div>
</header>

